.dashPage {
    padding: 80px 0 0 0;
    width: 1266px;
    background-color: #f0dbc0;
    color: black;
    align-items: center;
    display: flex;
    flex-direction: column;    
    
    h2{
        padding: 0;
        margin: 0;
    }
    .dashContainer {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 20px;
        height: 480px;

        .inputDiv {
            display: flex;
            flex-direction: column;
            font-size: small;
        }

        input {
            width: 500px;
            padding: 5px;
            border-radius: 10px;
            border: none;
        }

        button {
            margin-top: 15px;
            width: 500px;
            padding: 8px 5px;
            border-radius: 10px;
            border: none;
            background-color: black;
            color: white;
        }
    }
}