.aboutContainer {
    .innerAboutContainer {
        padding: 80px 40px 40px 40px;
    }
    h1{
        text-align: center;
    }
    background-color: #f0dbc0;
    color: black;
    margin: 0;
    width: 1266px;
}