@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #171512;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Standard */
}

img {
    /* user-drag: none; */
    -webkit-user-drag: none;
    /* Safari */
}

button {
    cursor: pointer;
}

section {
    position: relative;
    height: 100vh;
    max-height: 670px;
    width: 1266px;
    overflow: hidden;
}

nav {
    position: fixed;
    background-color: #f0dbc0;
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.2s ease-out; /* Smooth transition effect */
}

footer {
    position: relative;
    height: 120px;
    width: 1266px;
    background-color: black;
    color: white;
}

.landing,
.endPage {
    background-color: #f0dbc0;
}

.features {
    background-color: black;
    color: white;
}

.landingContainer {
    position: relative;
    padding: 120px 65px;
    display: flex;
}

.leftLanding {
    position: relative;
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rightLanding {
    position: relative;
    width: 45%;
}

.rating {
    display: flex;
    align-items: center;
    padding: none;
    gap: 8px;
}

.heroTitle {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.heroTitle span {
    font-size: 75px;
    line-height: 0.5;
    font-weight: bold;
}

p {
    position: relative;
}

.buttons {
    display: flex;
    gap: 20px;
    height: 60px;
    align-items: center;
}

.blackBtn,
.whiteBtn {
    padding: 20px;
    width: 180px;
    border-radius: 40px;
    border: none;
    font-size: medium;
}

.blackBtn {
    background-color: black;
    color: white;
}

.whiteBtn {
    border: 1px solid black;
}

.whiteBtn:hover,
.blackBtn:hover {
    padding: 20.2px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.screen {
    position: absolute;
    background-color: black;
    height: 500px;
    top: -50px;
    right: 17%;
    width: 270px;
    border-radius: 40px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.697); /* Shadow effect */
}
.dot{
    height: 18px;
    width: 18px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    z-index: 4000;
}
.featuresContainer {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.featuresUpper {
    height: 50%;
    padding: 110px 65px 0 65px;
    display: flex;
    flex-direction: column;

}

.featuresH1 {
    font-size: 30px;
    text-align: center;
    line-height: 0;
    padding-bottom: 50px;
    font-weight: 400;
}

.animatedGifs {
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon p {
    line-height: 0;
    font-size: small;
}

.image {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: fit-content;
    border-radius: 50%;
}

.line {
    background-color: #f0dbc0;
    height: 1px;
    margin-top: 70px;
}

.featuresLower {
    padding: 0 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
}

.pointers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 35px;
}

.pointer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: small;
    width: 40%;
}

.pointer span {
    position: relative;
    margin-top: 15px;
}

.endPageContainer {
    position: relative;
    display: flex;
    /* background-color: red; */
    padding: 40px 30px;
}

.endPageContainer .left {
    position: relative;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.endPageContainer .left img {
    transform: scaleX(-1);
}

.endPageContainer .right {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.endPage span {
    font-size: 63px;
    font-weight: bold;
    text-align: center;
    line-height: 1.1;
}

.endPage p {
    font-size: large;
}

.endPageBtn {
    padding: 20px 120px;
    /* width: 350px; */
    border-radius: 40px;
    border: none;
    font-size: large;
    background-color: #000;
    color: white;
}

.endPageBtn:hover {
    padding: 20.2px 122px;

}

.payBtn :disabled {
    cursor: not-allowed;
}

.SearchContainer{
    width: 1266px;
    background-color: #f0dbc0;
}

.searchBarDiv {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 4000;
    top: 3%;
    width: 1266px;
    height: 0;
    justify-content: center;
}
.searchBarDiv div {
    border: none;
    padding: 12px 55px;
    width: 270px;
    margin-right: 5px;
    border-radius: 20px;
    position: relative;
    background-color: white;
    font-size: small;
    top: 25px;
}
.searchBarDiv div:hover{
    cursor: text;
}
.searchBarDiv img{
    position: relative;
    width: 30px;
    left: 40px;
    z-index: 1000;
    top: 25px;
}

/* animations */
@keyframes breathe {
    0%, 100% { height: 48px; } /* Start and end height */
    50% { height: 25px; width: 48px; } /* Collapsed height */
}

.smileDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 178px;
    right: 199px;
    transform: rotate(12deg);
}
#smile{
    animation: breathe 4s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite; /* Adjust timing and easing as needed */
    width: 48px;
    position: absolute;
}

#smoke{
    width: 60px;
    position: absolute;
    top: 242px;
    right: 120px;
}
